@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_light.woff") format("woff"),
    url("../fonts/helvetica_light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: Helvetica, Sans-Serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 90px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.nav-point {
  list-style-type: none;
}
.header {
  display: flex;
  height: 90px;
  background-color: white;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform 0.3s linear;
}
.header.hide {
  transform: translateY(-90px);
}
.site-name {
  padding-left: 35px;
  padding-top: 20px;
  width: 9rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}
.nav-block {
  display: flex;
  justify-content: center;
}
.nav-point {
  padding: 0 30px;
}
.burger {
  display: none;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 30px;
  height: 18px;
  margin-top: 20px;
}
.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: black;
}
.burger::after,
.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.4s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.invitation {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
 font-style: italic;
}
.wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.invitation__img {
  width: 100%;
}
.invitation__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.invitation__paragraph {
  font-size: 20px;
}
.paragraph__bold {
  font-weight: bolder;
}
.paragraph__italic {
  font-style: italic;
}
.open {
  display: flex !important;
}
.banner {
  text-align: center;
}
.banner-img {
  width: 95%;
}
.timer {
  display: flex;
  justify-content: space-evenly;
  padding: 3vw 0;
  height: 7vw;
}
.timer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #a6b564;
  width: 70%;
}
.days,
.hours,
.minutes,
.seconds {
  font-size: 15vw;
}
.today {
  font-size: 7vw;
}
.program-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin-top: 15vh;
}
.program-container {
  width: 95%;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1.3fr 1fr;
  background-color: #e1a5a559;
  margin-top: 4vh;
}

.section-title {
  color: #000000;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 0;
}
.schedule-item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #828282;
  padding: 1.5vh 1.5vw 1.5vh 3vw;
}
.schedule-day {
  font-size: 24px;
  color: #000000;
  padding: 15px 15px 0 3vw;
}
.time-program {
  color: #000000;
}
.schedule-day:first-child {
  padding-top: 10%;
}
.schedule-item:last-child {
  padding-bottom: 7%;
}
.immage-wrap_program {
  overflow: visible;
  position: relative;
}
.program-img {
  width: 85%;
  position: absolute;
  bottom: -35px;
  right: -15px;
}

.address {
  margin-top: 25px;
  margin-bottom: 35px;
}
.address a {
  color: #555555;
  font-size: 24px;
  text-decoration: underline;
  font-style: normal;
}
.location-section {
  display: flex;
  justify-content: center;
}
.location-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program-map {
  border: 2px #a6b564 solid;
}
.footer {
  display: flex;
  background-color: #f8f8f8;
  padding: 2.5vw;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  width: 50%;
}
.footer-point {
  display: block;
  width: 4vw;
}
.footer-text {
  width: 60%;
  font-size: 1.5vw;
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
}
.dresscode {
  width: 95%;
  text-align: center;
  margin: 10% 2.5%;
  font-size: 24px;
}
.dresscode__text {
  width: 75%;
  margin: auto auto;
}
.dresscode__text-item {
  margin: 3% auto;
}

#red {
  color: #af0606e4;
  font-weight: bold;
}

.dresscode .dresscode__palette {
  position: relative;
  z-index: 3;
}

.dresscode__palette img {
  display: block;
  width: 100%;
}

.dresscode__main {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  margin-top: -5%;
  display: flex;
  justify-content: space-evenly;
}

#dresscode__women {
  overflow: hidden;
  max-width: 596px;
  /* margin-right: 10%; */
}
#dresscode__men {
  overflow: hidden;
  max-width: 596px;
  /* margin-left: 10%; */
}
.dresscode__button_left {
  background: url("../img/arrowLeft.png");
  height: 70px;
  width: 70px;
  border: none;
  position: relative;
  left: -35%;
  bottom: 10%;
}
.dresscode__button_right {
  background: url("../img/arrowRight.png");
  height: 70px;
  width: 70px;
  border: none;
  position: relative;
  right: -35%;
  bottom: 10%;
}

.dresscode__container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.dresscode__slider {
  max-height: auto;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.kit__text {
  font-size: 24px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  text-align: center;
}
.light {
  color: #828282;
}
.bold {
  font-weight: bold;
}
.kit__item {
  margin: 2% 21% 2% 0;
}

.wishlist {
  position: relative;
}

.wishlist__title {
  text-align: center;
}

.wishlist__wrapper {
  background-color: rgba(247, 211, 159, 0.3);
  width: 95%;
  height: 60vh;
  margin: 0 auto;
}

.wishlist__paragraph {
  font-size: 128px;
  padding: 1rem;
  font-weight: bolder;
}

.wishlist__img {
  position: absolute;
  width: 70%;
  right: 0;
  bottom: -10px;
}

.flowers {
  width: 95%;
  margin: 0 auto;
}

.flowers__wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.flowers__img {
  display: flex;
  justify-content: right;
}

.flowers__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.flowers__paragraph {
  font-size: 24px;
}
.flowers__paragraph:first-child {
  margin-bottom: 1rem;
}
li {
  list-style-position: inside;
}
.qr {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 2rem;
}
.qr__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}
.qr__paragraph {
  font-size: clamp(22px, 40px, 40px);
  font-weight: bolder;
  margin: 1rem 0;
}
.qr__photo {
  display: flex;
  justify-content: center;
}
.qr__none {
  display: none;
}
@media (max-width: 1255px) {
  .dresscode__main {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .banner-img {
    width: 100%;
  }
  .site-name {
    display: none;
  }
  .burger {
    display: flex;
    margin: 30px;
    position: sticky;
    top: 0;
    left: 0;
  }
  .burger span,
  .burger::after,
  .burger::before {
    background-color: #ee9b00;
  }
  body {
    padding-top: 0;
  }
  .header {
    justify-content: space-between;
    background-color: #00000000;
    position: absolute;
  }
  .nav {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow-y: auto;
    background-color: white;
    animation: burgerAnimation 0.4s;
    margin-top: 0;
  }
  .nav-block {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
  }
  .program-container {
    width: 95%;
  }
  .program-map {
    width: 100%;
  }
  .program-map iframe {
    width: 100%;
  }
}
@media (max-width: 450px) {
  body {
    background-color: rgb(255, 248, 244);
  }
  .program-section {
    margin-top: 8vh;
  }
  .program-container {
    grid-template-columns: 1fr;
    padding-bottom: 7vh;
  }
  .section-title {
    font-size: 20px;
  }
  .program-title {
    font-weight: 900;
  }
  .schedule-item,
  .schedule-day,
  .address a,
  .dresscode__text,
  .kit__text {
    font-size: 13px;
  }
  .schedule-item {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .program-img {
    width: 50%;
    bottom: -90px;
    left: 120px;
  }
  .address {
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .program-map iframe {
    width: 100%;
    height: auto;
  }
  .footer {
    flex-direction: column;
    background-color: #f8f8f8;
    gap: 10px;
  }
  .footer__container {
    width: 100%;
  }
  .footer-point {
    display: block;
    width: 6vw;
  }
  .footer-text {
    width: 80%;
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 450px) {

  .wrapper {
    grid-template-columns: 1fr;
  }
  .invitation__info {
    grid-row: 1 / 2;
  }
  .invitation__paragraph {
    text-align: center;
    line-height: 30px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 20px;
  }
  .flowers__wrapper {
    grid-template-columns: 1fr;
  }
  .flowers__img {
    display: none;
  }
  .flowers__paragraph {
    font-size: 13px;
  }
  .qr {
    grid-template-columns: 1fr;
  }
  .qr__info {
    align-items: center;
  }
  .qr__none {
    display: block;
    width: 40%;
  }
  .qr__photo {
    display: none;
  }
  .qr__paragraph {
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
  }
  .wishlist__wrapper {
    height: 20vh;
  }

  .wishlist__paragraph {
    font-size: 36px;
  }
}
