.timer {
  background-color: antiquewhite;
}
#timer {
  background-color: khaki;
  width: 500px;
  height: 200px;
}
.today {
  background-color: rgb(197, 77, 77);
}

.program-container {
  max-width: 1200px;
  display: grid;
  justify-items: center;
  margin: 50px;
}

.title_program {
  color: #ee9b01;
  font-size: 40px;
}
.title_location {
  color: #c53827;
  font-size: 40px;
  margin-bottom: 0;
}

.program-upper-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 30px;
  margin-bottom: 15px;
  gap: 60px;
}
.schedule-item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #828282;
  padding: 20px 0;
}
.schedule-day {
  font-size: 24px;
  color: #000000;
  padding: 15px 0;
}
.schedule-day:first-child {
  padding-top: 0;
}
.address {
  margin-top: 25px;
  margin-bottom: 35px;
}
.address a {
  color: #555555;
  font-size: 24px;
  text-decoration: underline;
  font-style: normal;
}
